.gitignore
.git/*
.yarn/*
**/docs/*
**/package.json
**/node_modules/*
**/build/*
**/dist/*
**/builds/*
**/coverage/*
**/.yarn/*
*.testjs
*.testts
examples/code-scanning/test-package-json/src/*
LICENSE
