name: ci
on: push

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build-and-upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - name: Build the typescript code
        run: pnpm build
      - uses: actions/upload-artifact@v4
        with:
          name: build artifacts
          path: dist/

  run-vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - run: pnpm test

  run-depcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - run: pnpm depcheck

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - run: pnpm script:transcend-json-schema
      - run: pnpm script:pathfinder-json-schema
      - run: pnpm docgen
      - name: Ensure no files changed
        run: git diff --quiet HEAD || (git diff --raw && echo "Detected untracked changes in git after running command '${{ matrix.command }}'" && exit 1)

  run-pre-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 100 # need the history to do a changed files check below (source, origin)
      - uses: actions/setup-python@v4
      - uses: ./.github/commands/dependencies/install_deps
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --source ${{ github.event.pull_request.base.sha || 'HEAD~1' }} --origin ${{ github.event.pull_request.head.sha || 'HEAD' }}

  build-to-npm:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-vitest
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - name: Configure npm authentication
        run: |
          pnpm config set always-auth true
          pnpm config set //registry.npmjs.org/:_authToken "${{ secrets.NPM_TOKEN }}"
      - name: Publish to npm
        run: pnpm publish

  build-to-github-packages:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
      - run-vitest
      - run-depcheck
      - build-and-upload-artifacts
      - run-pre-commits
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/commands/dependencies/install_deps
      - name: Configure GitHub Packages authentication
        run: |
          pnpm config set always-auth true
          pnpm config set registry https://npm.pkg.github.com
          pnpm config set //npm.pkg.github.com/:_authToken "${{ secrets.GITHUB_TOKEN }}"
      - name: Publish to GitHub Packages
        run: pnpm publish
